section.section(id="coc")
  h2 Code of Conduct
  p.
    The heart of JSUnconf is people. This guideline is meant to support a happy, productive and safe
    event experience that can welcome new ideas and inspiration for all attendees. Regardless of
    gender, sexual orientation, age, ability, ethnicity, socioeconomic status, and religion (or lack
    thereof). We gain strength from diversity, and actively seek participation from those who
    enhance it.
  a.button(href="/coc/") Read our full Code of Conduct

.image-section(alt="Person on stage holding talk, showing code.", style="background-image:url(https://drive.google.com/uc?export=view&id=15230kfjpAWSHRSKQGfIDYJex_eRvgDm3)")
