.image-section

section.section(id="contriboot")
  h2 Contriboot
  p.
    This is the contribution tool for the JSUnconf 2019. You can add, find and vote contributions
    and interests here. At the conference, everybody can propose a talk. Everybody votes for the
    talks they want to see. The most voted talks will be held. Note: this is just an indicator for
    what topics will be held at the conference, this is not the final voting! That will happen at
    the conference.
a.button(href="/contriboot/") Please Contribute
