section.section(id="description")
  h2 Make it happen ...
  p.
    JSUnconf is a two day barcamp style event by the community for the community.
    For everybody using javascript or being somehow interested in it and the community around it.
  p.
    You make it happen! The more you put in, the more you get out of it.
    Contribute by holding a talk, volunteer or support in any other way you feel appropriate.
    Everybody and anything remotely related is welcome.
  p.
    Meet a lot of great people, connect and experience diverse and inspiring talks.
    Visit, grow, learn and love under this years motto:<br> <a href="#motto"><b>Reduce, reuse, recycle ...</b></a>

.image-section
  .image-section-img(data-lazyload-class="is-active", role="img", aria-label="Attendee, orga, speaker crowd cheering.").motive-001
