section.section(id="diversity")
  h2 Diversity
  p.
    Our scholarship program is organized to make JSUnconf a better unconference. We want to make
    this community-focused event accessible to the wide range of people who are learning, work with,
    or are enthusiasts of Javascript.
  p.
    We welcome applicants from underrepresented groups in tech to apply. This includes, but is not
    limited to: women-identifying persons, people of color, LGBTQIA people, people with physical
    and mental disabilities, people facing economic and/or political hardships. Scholarship
    recipients will receive a JSUnconf 2019 ticket.
  p.
    In addition, we will book travel and accommodation for you, so that you can arrive without stress :)

  p.
    For this year the applications are closed.

.image-section
  .image-section-img(data-lazyload-class="is-active", role="img", aria-label="Orga team and helpers of JSUnconf 2018 on stage, launching the event.").motive-003
