header#main-header.header
  ul#main-nav.headnav-list
    li.headnav-list-item
      a.headnav-list-link(href="/#tickets") Tickets
    li.headnav-list-item
      a.headnav-list-link(href="/contriboot/") Contriboot
    li.headnav-list-item
      a.headnav-list-link(href="/#schedule") Schedule
    li.headnav-list-item
      a.headnav-list-link(href="/#diversity") Diversity
    li.headnav-list-item
      a.headnav-list-link(href="/#coc") Code of conduct
    li.headnav-list-item
      a.headnav-list-link(href="/#location") Location
    li.headnav-list-item
      a.headnav-list-link(href="/#motto") Motto
    li.headnav-list-item
      a.headnav-list-link(href="mailto:contact@jsunconf.eu" title="Contact") Contact
