header.header
  ul.headnav-list
    li.headnav-list-item
      a.header-list-link(href="/#tickets") Tickets
    li.headnav-list-item
      a.header-list-link(href="/#contriboot") Contriboot
    li.headnav-list-item
      a.header-list-link(href="/#diversity") Diversity
    li.headnav-list-item
      a.header-list-link(href="/#coc") Code of conduct
    li.headnav-list-item
      a.header-list-link(href="/#location") Location
    //- li.headnav-list-item
    //-   a.header-list-link(href="index.html#sponsors") Sponsors
    li.headnav-list-item
a(href="mailto:contact@jsunconf.eu" title="Contact") Contact
