section.section(id="location").less-bottom-padding
  h2 Location
  p The BMK will host the JSUnconf again in 2019! We are excited and thankful!
  p
    strong Berufliche Schule für Medien und Kommunikation<br> Eulenkamp 46 <br>22049 Hamburg
  p.
    On Friday there might a little <strong>pre-unconference party</strong> be happening and on saturday the
    <strong>official party</strong> of course. Locations and times to be announced.
  p
    strong Please see the map for location overview and addresses.

.map
  div#map-canvas
  link(href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.12.4/mapbox-gl.css' rel='stylesheet' type='text/css')

.image-section(alt="Attentively listening audience shot from the side.", title="Attentively listening audience shot from the side.").motive-005
