section.section(id="motto")
  h2 Reduce, reuse, recycle ...
  p.
   We set this as inofficial motto of this years event, to remind ourselves and everybody partaking, 
   to minimize resource usage and waste by being mindful and actively think about every necessity and/or opportunity 
   to do what it says. 
   
  p.
    Please leave disposable stuff at home! Bring useful, degradable and reusable stuff like your coffee mug and water bottle from last year. 
    Bring a box of apples instead of pens. Use things you already have instead of buying new stuff.