section.section(id="sponsoring")
  h2 How to become a sponsor
  p.
    We are expecting sponsorship slots to be taken very quickly.
    View the detailed information about <a href="https://drive.google.com/file/d/10G_Ce_82HIWqlhrg6nRHVA2VOHSGr0_z/view?usp=sharing" target="_blank">various sponsoring options</a>.
    Please send us your feedback by February 2019.
  
  a.button(href="mailto:sponsoring@jsunconf.eu?subject=Sponsoring the JSUnconf 2019") Send us an email

section.section.darkpurplebg
  h2.onimage Great companies

  h3.onimage Gold
    br
    a(href="https://www.adesso.de",target="_blank")
      img(src="images/sponsors/adesso.svg",alt="adesso", title="adesso")
    a(href="https://www.jimdo.de",target="_blank")
      img(src="images/sponsors/jimdo.svg",alt="Jimdo", title="Jimdo")
    a(href="https://www.sinnerschrader.com",target="_blank")
      img(src="images/sponsors/sinnerschrader.svg",alt="Sinnerschrader", title="Sinnerschrader")
    a(href="https://www.sumcumo.com",target="_blank")
      img(src="images/sponsors/sumcumo.svg",alt="sum.cumo", title="sum.cumo")
    a(href="https://www.xing.de",target="_blank")
      img(src="images/sponsors/xing.svg",alt="Xing", title="Xing")

  h3.onimage Silver
    br
    a(href="https://www.ubilabs.net",target="_blank")
      img(src="images/sponsors/ubilabs.svg",alt="Ubilabs", title="Ubilabs")
    a(href="https://fashion.cloud",target="_blank")
      img(src="images/sponsors/fashioncloud.png",alt="fashion.cloud", title="fashion.cloud")
      
  h3.onimage Bronze
  br
  a(href="https://www.accenture.com",target="_blank")
    img(src="images/sponsors/accenture.svg",alt="Accenture", title="Accenture")    
  a(href="https://www.vonage.com/",target="_blank")
    img(src="images/sponsors/vonage.svg",alt="Vonage", title="Vonage")

.image-section(alt="People on beanbags chilling and having fun outside in the sun.", title="People on beanbags chilling and having fun outside in the sun.").motive-006