section.section(id="tickets")
  h2 Tickets
  a(href="https://ti.to/jsunconf/jsunconf-2019").button-tickets Early bird ticket <span>59 &euro;</span>
  a(href="https://ti.to/jsunconf/jsunconf-2019").button-tickets Regular ticket <span>79 &euro;</span>
  a(href="https://ti.to/jsunconf/jsunconf-2019").button-tickets Combo ticket - RubyUnconf &amp; JSUnconf  <span>110 &euro;</span>
  a(href="https://ti.to/jsunconf/jsunconf-2019").button-tickets Regular ticket with 50% Diversity support <span>119 &euro;</span>
  a(href="https://ti.to/jsunconf/jsunconf-2019").button-tickets Regular ticket with 100% Diversity support <span>159 &euro;</span>
  //- a.button Regular 79 &euro;
  //- a.button Regular with 50% Diversity support 119 &euro;
  //- a.button Regular with 100% Diversity support 159 &euro;
