section.section(id="tickets")
  h2 Tickets
  p Get yours now, while they're still available!
  a(href="https://ti.to/jsunconf/jsunconf-2019?ivqjanoc7fy=1#tito-ticket-ivqjanoc7fy").button-tickets Regular ticket <span>79 &euro;</span>
  a(href="https://ti.to/jsunconf/jsunconf-2019?5ovk9kpclqo=1#tito-ticket-5ovk9kpclqo").button-tickets Regular ticket with 50% Diversity support <span>119 &euro;</span>
  a(href="https://ti.to/jsunconf/jsunconf-2019?03awzyptwae=1#tito-ticket-03awzyptwae").button-tickets Regular ticket with 100% Diversity support <span>159 &euro;</span>
  a(href="https://ti.to/jsunconf/jsunconf-2019?lp54so0zhfg=1#tito-ticket-lp54so0zhfg").button-tickets Combo Ticket: JSUnconf &amp; RubyUnconf <span>110 &euro;</span>

.image-section
  .image-section-img(role="img", aria-label="Women and men in onesies standing in the cafeteria area at JSUnconf 2018 chatting and having fun.").motive-002
