html
  width: 100%;
  height: 100%;

body
  height: 100vh
  text-align: center
  font-size: $jsufontSizeBase
  font-family: 'Source Code Pro', 'Courier New', Courier, monospace, "Neue Helvetica", Helvetica, Arial, sans-serif
  color: $jsuFontColor
  background-color: $jsuBgColor

h1,
h2,
h3,
h4,
h5,
h6
  font-family: 'Gochi Hand', cursive
  color: $jsuHeadlineColor
  font-weight: 600
  margin: 1em 0 0.75em 0
  line-height: 1.2
  padding: 0

h1
  font-size: 4.5rem

h2
  font-size: 3.5rem

h3
  font-size: 2.75rem

h4
  font-size: 2.25rem

h5
  font-size: 1.5rem
  font-weight: 700

p
  font-size: 1.33rem
  line-height: 2.25rem
  margin: 0 0 5vh 0

hr
  margin: 1em 0 1em 0
  padding: 0px
  border: 0
  height: 1px
  // background: var(--bb-separator-line) ???

a:hover,
a:focus
  text-decoration: none
  // text-transform: uppercase

.link-deactivated
  opacity: 0.5
  pointer-events: none
  cursor: default

.title
  font-family: 'Gochi Hand', cursive

.size-l
  width: 60%
  font-size: 6rem
  font-weight: 900
  text-align: center

.title-l
  width: 60%
  font-size: 6rem
  font-weight: 900
  text-align: center

.title-m
  width: 80%
  font-size: 4rem
  font-weight: 800
  text-align: center

.button
  display: inline-block
  background-color: $jsuLogoColor
  color: $jsuBgColor
  padding: 15px
  text-decoration: none
  font-weight: 600

.button-tickets
  display: flex
  justify-content: space-between
  background-color: $jsuLogoColor
  color: $jsuBgColor
  padding: 20px
  margin: 20px 0
  text-decoration: none
  font-weight: 600
  overflow: hidden
  position: relative
  z-index: 0

.button:hover,
.button-tickets:hover,
.button:focus,
.button-tickets:focus
  background-color: $jsuPurpleDark
  // text-transform: uppercase

.onimage
  color: $jsuFontColorOnimage

.grid-01
  display: grid
  grid-template-columns: 1fr
  grid-template-rows: 80px auto
  grid-template-areas: "header" "main-content"
  grid-gap: 0
  overflow-x: hidden

.jsunconflogo
  display: inline-block

.jsu-logo
  display: block
  width: 60px
  height: 60px
  background: url(../assets/jsunconflogo.svg)
  background-size: 60px 60px

.main-content
  grid-area: main-content
  padding: 0
  margin: 0
  overflow: scroll
  -webkit-overflow-scrolling: touch

.privacy .main-content
  text-align: left;

  ul
    font-size: 1.2em
