/**
 * calculate an rem-value for a given pixel-size
 */
remCalc(_px, _base = 18)
  return (_px / _base)rem

/**
 * calculate an em-value for a given pixel-size
 */
emCalc(_px, _base = 18)
  return (_px / _base)em

$globalFontFamily = 'Source Code Pro', 'Courier New', Courier, monospace, "Neue Helvetica", Helvetica, Arial, sans-serif

$jsufontSizeBase = 1em

$jsuLogoColor = #8f237f
$jsuLogoColorRgba = rgba(143, 35, 127, 0.33)
$jsuPurpleDark = #46003c
$jsuFontColor = $jsuLogoColor
$jsuFontColorOnimage = $jsuBgColor
$jsuBgColor = #ffffff
$jsuHeadlineColor = $jsuLogoColor

$mediaQuerySmall = '(max-width: 600px)'
$mediaQueryBig = '(min-width: 900px)'

/* Color palette */

:root {
  --darkish-purple: #911c80;
  --darkish-purple-alpha: rgba(145, 28, 128, .66);
  --something-alpha: rgba(11, 102, 178, .66)
  --ocean-blue: #0669b4;
  --ocean-blue-alpha: rgba(6, 105, 180, .66);
  --peacock-blue: #024b9f;
  --white: #ffffff;
  --black: #000000;
  --dark-plum: #46003c;
  --jsuLogoColorRgba: rgba(143, 35, 127, 0.33);
}

/* Text styles */

.Text-Style {
  font-family: SourceCodePro;
  font-size: 30px;
  font-weight: bold;
  line-height: 1.27;
  text-align: center;
  color: #fff;
}

.Text-Style-3 {
  font-family: SourceCodePro;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.38;
  text-align: center;
  color: #fff;
}

.Text-Style-4 {
  font-family: SourceCodePro;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.3;
  text-align: center;
  color: #fff;
}

.Text-Style-5 {
  font-family: SourceCodePro;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  color: #fff;
}

.Text-Style-2 {
  font-family: SourceCodePro;
  font-size: 16px;
  line-height: 1.38;
  text-align: center;
  color: #fff;
}
