.header
  grid-area: header
  overflow: hidden
  background-color: $jsuLogoColor

.headnav-list
  height: 100%
  margin: 0
  padding: 0

.headnav-list-item
  display: inline-flex
  justify-content: center
  align-items: center
  font-family: 'Gochi Hand', cursive
  font-size: 1.33rem
  color: $jsuFontColorOnimage
  height: 100%
  padding: 0 1vw 0 1vw

.headnav-list-link
  text-decoration: none
  color: $jsuFontColorOnimage

  &:hover,
  &:focus
    text-decoration: underline;
    text-transform: none;
