.section
  padding-top: 6vh
  padding-right: 20vw
  padding-bottom: 12vh
  padding-left: 20vw

.section img.logo
  vertical-align middle

  width: 14rem
  padding: 0 2rem 3rem 2rem

.section a:lastchild>img.logo
  padding-bottom: 100vw

.darkpurplebg
  background: $jsuPurpleDark

.less-bottom-padding
  padding-bottom: 6vh

.image-section
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  width: 100%
  min-height: 70vh
  background-image: linear-gradient(29deg, var(--darkish-purple-alpha), var(--something-alpha) 85%, var(--ocean-blue-alpha)), url("https://drive.google.com/uc?export=view&id=1-o9_BBqI2H-srXW0RFrfOPnpBn5P21lA")
  background-repeat: no-repeat
  background-size: cover
  background-position: center
  overflow: hidden

.hero-image
  background-image: linear-gradient(29deg, var(--darkish-purple-alpha), var(--something-alpha) 85%, var(--ocean-blue-alpha)), url("https://drive.google.com/uc?export=view&id=1_ZXN9GarjbaILX07CLuxZbKP87tcNXDj")
  // background-position: top
  background-position-y: 15%

.motive-001
  background-image: linear-gradient(29deg, var(--darkish-purple-alpha), var(--something-alpha) 85%, var(--ocean-blue-alpha)), url("https://drive.google.com/uc?export=view&id=12nWMEcDBWVEdHnqlq5G-1nXKvjuxtQ3n")

.motive-002
  background-image: linear-gradient(29deg, var(--darkish-purple-alpha), var(--something-alpha) 85%, var(--ocean-blue-alpha)), url("https://drive.google.com/uc?export=view&id=1wAdaVtJ1WjgJWlcDeVwzbCMmoMgbBNNb")

.motive-003
  background-image: linear-gradient(29deg, var(--darkish-purple-alpha), var(--something-alpha) 85%, var(--ocean-blue-alpha)), url("https://drive.google.com/uc?export=view&id=10DEHaqBUccTFfB1FJjutfZWMFg_r7yjo")

.motive-004
  background-image: linear-gradient(29deg, var(--darkish-purple-alpha), var(--something-alpha) 85%, var(--ocean-blue-alpha)), url("https://drive.google.com/uc?export=view&id=15230kfjpAWSHRSKQGfIDYJex_eRvgDm3")

.motive-005
  background-image: linear-gradient(29deg, var(--darkish-purple-alpha), var(--something-alpha) 85%, var(--ocean-blue-alpha)), url("https://drive.google.com/uc?export=view&id=18OvwwHrNRDgBQgkONDuRXBMx64_slYSf")

.motive-006
  background-image: linear-gradient(29deg, var(--darkish-purple-alpha), var(--something-alpha) 85%, var(--ocean-blue-alpha)), url("https://drive.google.com/uc?export=view&id=1qHIZhJHIg9hsF4G2W4lokJ2YyEHT9zC8")
