.section
  padding-top: 6vh
  padding-right: 20vw
  padding-bottom: 12vh
  padding-left: 20vw

.less-bottom-padding
  padding-bottom: 6vh

.image-section
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  width: 100%
  min-height: 50vh
  background-image: linear-gradient($jsuLogoColorRgba, $jsuLogoColorRgba), url(https://drive.google.com/uc?export=view&id=1-o9_BBqI2H-srXW0RFrfOPnpBn5P21lA)
  background-repeat: no-repeat
  background-size: cover
  background-position: center
  overflow: hidden

// .section--map
//   border: 1px solid red
