.section
  padding-top: 6vh
  padding-right: 20vw
  padding-bottom: 12vh
  padding-left: 20vw

.section img
  display: inline-block
  width: 12rem
  padding: 1rem 1em 1em 1em

.darkpurplebg
  background: $jsuPurpleDark

.less-bottom-padding
  padding-bottom: 6vh

.image-section
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  width: 100%
  min-height: 70vh
  background-image: url(https://drive.google.com/uc?export=view&id=1-o9_BBqI2H-srXW0RFrfOPnpBn5P21lA)
  background-repeat: no-repeat
  background-size: cover
  background-position: center
  overflow: hidden
