:root {
  --darkish-purple: #911c80;
  --darkish-purple-alpha: rgba(145,28,128,0.75);
  --ocean-blue: #0669b4;
  --ocean-blue-alpha: rgba(6,105,180,0.75);
  --peacock-blue: #024b9f;
  --white: #fff;
  --black: #000;
  --dark-plum: #46003c;
}
.Text-Style {
  font-family: SourceCodePro;
  font-size: 30px;
  font-weight: bold;
  line-height: 1.27;
  text-align: center;
  color: #fff;
}
.Text-Style-3 {
  font-family: SourceCodePro;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.38;
  text-align: center;
  color: #fff;
}
.Text-Style-4 {
  font-family: SourceCodePro;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.3;
  text-align: center;
  color: #fff;
}
.Text-Style-5 {
  font-family: SourceCodePro;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  color: #fff;
}
.Text-Style-2 {
  font-family: SourceCodePro;
  font-size: 16px;
  line-height: 1.38;
  text-align: center;
  color: #fff;
}
html {
  width: 100%;
  height: 100%;
}
body {
  height: 100vh;
  text-align: center;
  font-size: 1em;
  font-family: 'Source Code Pro', 'Courier New', Courier, monospace, "Neue Helvetica", Helvetica, Arial, sans-serif;
  color: #8f237f;
  background-color: #fff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Gochi Hand', cursive;
  color: #8f237f;
  font-weight: 600;
  margin: 1em 0 0.75em 0;
  line-height: 1.2;
  padding: 0;
}
h1 {
  font-size: 4.5rem;
}
h2 {
  font-size: 3.5rem;
}
h3 {
  font-size: 2.75rem;
}
h4 {
  font-size: 2.25rem;
}
h5 {
  font-size: 1.5rem;
  font-weight: 700;
}
p {
  font-size: 1.33rem;
  line-height: 2.25rem;
  margin: 0 0 5vh 0;
}
hr {
  margin: 1em 0 1em 0;
  padding: 0px;
  border: 0;
  height: 1px;
}
a:hover,
a:focus {
  text-decoration: none;
  text-transform: uppercase;
}
.link-deactivated {
  opacity: 0.5;
  pointer-events: none;
  cursor: default;
}
.title {
  font-family: 'Gochi Hand', cursive;
}
.size-l {
  width: 60%;
  font-size: 6rem;
  font-weight: 900;
  text-align: center;
}
.title-l {
  width: 60%;
  font-size: 6rem;
  font-weight: 900;
  text-align: center;
}
.title-m {
  width: 80%;
  font-size: 4rem;
  font-weight: 800;
  text-align: center;
}
.button {
  display: inline-block;
  background-color: #8f237f;
  color: #fff;
  padding: 15px;
  text-decoration: none;
  font-weight: 600;
}
.button-tickets {
  display: flex;
  justify-content: space-between;
  background-color: #8f237f;
  color: #fff;
  padding: 20px;
  margin: 20px 0;
  text-decoration: none;
  font-weight: 600;
  overflow: hidden;
  position: relative;
  z-index: 0;
}
.button:hover,
.button-tickets:hover,
.button:focus,
.button-tickets:focus {
  background-color: #46003c;
  text-transform: uppercase;
}
.onimage {
  color: #fff;
}
.grid-01 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 80px auto;
  grid-template-areas: "header" "main-content";
  grid-gap: 0;
  overflow-x: hidden;
}
.jsunconflogo {
  display: inline-block;
}
.jsu-logo {
  display: block;
  width: 60px;
  height: 60px;
  background: url("../assets/jsunconflogo.svg");
  background-size: 60px 60px;
}
.main-content {
  grid-area: main-content;
  padding: 0;
  margin: 0;
  overflow: auto;
}
.header {
  grid-area: header;
  overflow: hidden;
  background-color: #8f237f;
}
.headnav-list {
  height: 100%;
  margin: 0;
  padding: 0;
}
.headnav-list-item {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-family: 'Gochi Hand', cursive;
  font-size: 1.33rem;
  color: #fff;
  height: 100%;
  padding: 0 1vw 0 1vw;
}
.headnav-list-link {
  text-decoration: none;
  color: #fff;
}
.headnav-list-link:hover,
.headnav-list-link:focus {
  text-decoration: underline;
  text-transform: none;
}
.footer {
  background-color: #46003c;
  color: #fff;
}
.footer-link {
  display: inline-block;
  width: auto;
  color: #fff;
  padding: 20px;
  font-size: 1.33rem;
}
.tickets__prices {
  display: inline-block;
  text-align: left;
}
.tickets__price {
  display: flex;
  align-items: center;
  background-color: $backgroundColor;
  color: #fff;
  justify-content: space-between;
  padding: 20px;
  margin: 20px 0;
  border: 2px solid #fff;
  text-decoration: none;
}
.tickets__price:hover {
  display: flex;
  background-color: #fff;
  color: $backgroundColor;
}
.bold {
  font-weight: 600;
  margin-left: 20px;
}
.nowrap {
  white-space: nowrap;
}
.section {
  padding-top: 6vh;
  padding-right: 20vw;
  padding-bottom: 12vh;
  padding-left: 20vw;
}
.less-bottom-padding {
  padding-bottom: 6vh;
}
.image-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 50vh;
  background-image: linear-gradient(rgba(143,35,127,0.33), rgba(143,35,127,0.33)), url("https://drive.google.com/uc?export=view&id=1-o9_BBqI2H-srXW0RFrfOPnpBn5P21lA");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}
.section--schedule .schedules-container {
  justify-content: space-around;
  display: flex;
}
@media (max-width: 600px) {
  .section--schedule .schedules-container {
    flex-direction: column;
  }
}
.section--schedule .schedule-line:nth-child(2n+1) {
  background-color: var(--dark-plum);
}
.section--schedule .schedule-line {
  padding: 5px 10px;
  text-align: left;
}
.section--schedule .schedule__time {
  opacity: 0.7;
}
.section--schedule .schedule {
  padding: 5px;
}
.map {
  font-size: 1rem;
}
.map,
.map .mapboxgl-map {
  height: 66vh;
}
.mapboxgl-canvas {
  left: 0;
}
.sponsors__level__logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.sponsors__level__logos__link {
  box-sizing: border-box;
  padding: 15px;
  flex: 0 1 32%;
}
.sponsors__level__logos__link img {
  width: 100%;
  max-height: 4rem;
}
.sponsors__level__logos__link.sponsors__level__logos__link--Silver {
  flex: 0 1 25%;
}
.sponsors__level__logos__link.sponsors__level__logos__link--Bronze {
  flex: 0 1 22%;
}
@media screen and (max-width: 800px) {
  .sponsors__level__logos__link {
    flex: 0 1 50%;
  }
  .sponsors__level__logos__link.sponsors__level__logos__link--Silver {
    flex: 0 1 32%;
  }
  .sponsors__level__logos__link.sponsors__level__logos__link--Bronze {
    flex: 0 1 25%;
  }
}
@media screen and (max-width: 400px) {
  .sponsors__level__logos__link {
    flex: 0 1 100%;
  }
  .sponsors__level__logos__link.sponsors__level__logos__link--Silver {
    flex: 0 1 50%;
  }
  .sponsors__level__logos__link.sponsors__level__logos__link--Bronze {
    flex: 0 1 32%;
  }
}
.sponsorlist {
  background-color: $backgroundColor;
  color: #fff;
}
.sponsorlist .section.sponsor-headline {
  color: #fff;
  background: none;
  padding: 0;
}
.sponsorlist .exerpt {
  padding: 1rem 17.5vw;
  margin: 0;
  text-align: center;
  background-image: linear-gradient(to bottom, rgba(196,60,183,0), #911c80);
  background-image: linear-gradient(to bottom, rgba(196,60,183,0), var(--darkish-purple));
}
.sponsorlist .sponsors__level {
  text-align: center;
  color: #fff;
  color: var(--white);
}
.sponsorlist .sponsors__level .sponsor__logo {
  flex: 1 1 100%;
}
.sponsorlist .sponsors__level .sponsor__meta {
  flex: 1;
  padding: 30px;
  display: flex;
  justify-content: space-evenly;
}
.sponsorlist .sponsors__level .sponsor {
  padding: 4rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.sponsorlist .sponsor__logo__image {
  max-height: 5rem;
  width: 100%;
}
.contriboot {
  background-color: $backgroundColor;
  color: #fff;
}
.contriboot .textarea {
  height: 6em;
  text-align: left;
}
.contriboot .textarea p {
  text-align: left;
  margin: 0;
}
.contriboot input,
.contriboot textarea,
.contriboot .textarea {
  outline: none;
  background-color: #fff;
  color: #000;
}
.contriboot .section__header {
  background-image: url("/images/background.jpg");
  background-size: cover;
  margin-top: -2.75rem;
  padding-top: 2.75rem;
  background-repeat: no-repeat;
}
.contriboot .section.contriboot-headline {
  color: #fff;
  background: none;
  padding: 0;
}
.contriboot .exerpt {
  padding: 1rem 17.5vw 2rem 17.5vw;
  margin: 0;
  text-align: center;
  background-image: linear-gradient(to bottom, rgba(196,60,183,0), var(--darkish-purple));
}
.contriboot ul {
  list-style-type: none;
  padding: 0;
}
.contriboot ul a {
  display: block;
  line-height: 2.25rem;
  padding: 0.75rem 1rem 0.75rem 1rem;
}
.contriboot ul a:hover {
  background: #fff;
  color: var(--darkish-purple);
}
.contriboot ul h3 {
  text-align: left;
  display: inline-grid;
  width: 100%;
  margin: 0;
}
.contriboot ul small {
  font-size: 1rem;
}
.contriboot ul li {
  text-align: left;
}
.contriboot .entry {
  margin-bottom: 4rem;
  padding-bottom: 1rem;
  border: 1px solid var(--darkish-purple);
}
.contriboot .entry p {
  padding-top: 1.5rem;
}
.contriboot .entry .entry__description {
  display: none;
}
.contriboot .entry li {
  padding: 1rem 0 0 1rem;
}
.contriboot .entry li li {
  padding-top: 0;
}
.contriboot .entry--active {
  border: 1px solid #fff;
}
.contriboot .entry--active a {
  background: #fff;
  color: var(--darkish-purple);
}
.contriboot .entry--active p {
  margin: 0;
}
.contriboot .entry--active .entry__description {
  display: block;
}
.contriboot .entry__header__votes {
  display: inline-block;
  margin: 1.5rem 1rem 1rem 1rem;
}
.contriboot .entry__header__votes__button {
  background-color: transparent;
  margin-right: 0.5rem;
}
.contriboot .entry__header__votes__button:hover {
  background: #dc49c6;
}
.contriboot .entries-container {
  padding: 0;
}
.contriboot .entry__description {
  padding: 0 2rem 1rem 1rem;
}
.contriboot .user {
  padding: 0rem 0vw 6.75rem 0vw;
}
.contriboot .user__message {
  text-align: center;
}
.contriboot .user__button-login {
  margin-top: 1rem;
  background: none;
  border: none;
  width: 100%;
  text-decoration: underline;
  font-weight: bold;
}
.contriboot .user__button-login:hover {
  text-transform: uppercase;
  text-decoration: none;
}
.contriboot fieldset label {
  float: left;
  width: 25%;
  text-align: left;
}
.contriboot fieldset .medium-editor-element,
.contriboot fieldset input {
  float: left;
  width: 65%;
  margin: 5px;
  height: auto;
}
.contriboot fieldset .medium-editor-element {
  min-height: 6em;
}
.contriboot .submit-form__type-selection input {
  float: left;
  width: 20%;
  height: auto;
  margin: none;
}
.contriboot .submit-form__type-selection label {
  float: left;
  width: 75%;
  text-align: left;
}
.contriboot .submit-form button,
.contriboot .user .button {
  background-color: var(--dark-plum);
}
@media screen and (min-width: 1000px) {
  .section__header {
    background-position-y: -10rem;
  }
}
@media screen and (min-width: 1280px) {
  .section__header {
    background-position-y: -17.5rem;
  }
}
