html
  width: 100%
  height: 100%

body
  height: 100vh
  text-align: center
  font-size: $jsufontSizeBase
  font-family: $globalFontFamily
  color: $jsuFontColor
  background-color: $jsuBgColor
  overflow-x: hidden

h1,
h2,
h3,
h4,
h5,
h6
  font-family: 'Gochi Hand', cursive
  color: $jsuHeadlineColor
  font-weight: 600
  margin: 1em 0 0.75em 0
  line-height: 1.2
  padding: 0

h1
  font-size: 4.5rem

h2
  font-size: 3.5rem

h3
  font-size: 2.75rem

h4
  font-size: 2.25rem

h5
  font-size: 1.5rem
  font-weight: 700

p
  font-size: 1.33rem
  line-height: 2.25rem
  margin: 0 0 5vh 0

hr
  margin: 1em 0 1em 0
  padding: 0px
  border: 0
  height: 1px

a
  color: #911c80

a:hover,
a:active
  text-decoration: none

a:focus
  text-decoration: underline

.link-deactivated
  opacity: 0.5
  pointer-events: none
  cursor: default

.title
  font-family: 'Gochi Hand', cursive

.size-l
  width: 60%
  font-size: 6rem
  font-weight: 900
  text-align: center

.title-l
  width: 60%
  font-size: 6rem
  font-weight: 900
  text-align: center

.title-m
  width: 80%
  font-size: 4rem
  font-weight: 800
  text-align: center
  &.onimage
    width: auto

.button
  display: inline-block
  background-color: $jsuLogoColor
  color: $jsuBgColor
  padding: 15px
  text-decoration: none
  font-weight: 600

.button-tickets
  display: flex
  justify-content: space-between
  background-color: $jsuLogoColor
  color: $jsuBgColor
  padding: 20px
  margin: 20px 0
  text-decoration: none
  font-weight: 600
  overflow: hidden
  position: relative
  z-index: 0

.button:hover,
.button-tickets:hover,
.button:focus,
.button-tickets:focus
  background-color: $jsuPurpleDark

.onimage
  color: $jsuFontColorOnimage

.jsunconflogo
  display: inline-block

.jsu-logo
  display: block
  width: 60px
  height: 60px
  background: url('../images/jsunconflogo.svg')
  background-size: 60px 60px

.main-content
  padding: 0
  margin: 80px 0 0 0

.privacy .main-content
  text-align: left

  ul
    font-size: 1.2em

.visually-hidden
  border: 0
  clip: rect(0 0 0 0)
  height: 1px
  margin: -1px
  overflow: hidden
  padding: 0
  position: absolute
  white-space: nowrap
  width: 1px
