.section
  padding: 6vh 1rem 12vh 1rem

  @media screen and (min-width: 400px)
    padding-right: 2rem
    padding-left: 2rem

  @media screen and (min-width: 762px)
    padding-right: 20vw
    padding-left: 20vw

.section img.logo
  vertical-align middle

  width: 14rem
  padding: 0 2rem 3rem 2rem

.section a:lastchild>img.logo
  padding-bottom: 100vw

.darkpurplebg
  background: $jsuPurpleDark

.less-bottom-padding
  padding-bottom: 6vh

.image-section
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  width: 100%
  min-height: 70vh
  overflow: hidden
  position: relative
  z-index: 0

.image-section-img
  position: absolute
  top: 0
  right: 0
  bottom: 0
  left: 0
  background-image: linear-gradient(29deg, var(--darkish-purple-alpha), var(--something-alpha) 85%, var(--ocean-blue-alpha)), url("../images/outsidehof.jpg")
  background-repeat: no-repeat
  background-size: cover
  background-position: center

  @media(max-width: 1000px)
    background-image: linear-gradient(29deg, var(--darkish-purple-alpha), var(--something-alpha) 85%, var(--ocean-blue-alpha)), url("../images/outsidehof-1000.jpg")

.image-section-content
  position: relative
  z-index: 1

.main-heading
  font-size: 3rem

  @media screen and (min-width: 762px)
    font-size: 4.5rem

.hero-image
  min-height: calc(100vh - 80px);
  background-image: linear-gradient(29deg, var(--darkish-purple-alpha), var(--something-alpha) 85%, var(--ocean-blue-alpha)), url("../images/background-2000.jpg")
  @media(max-width: 1000px)
    background-image: linear-gradient(29deg, var(--darkish-purple-alpha), var(--something-alpha) 85%, var(--ocean-blue-alpha)), url("../images/background-1000.jpg")

.motive-001
  background-image: linear-gradient(29deg, var(--darkish-purple-alpha), var(--something-alpha) 85%, var(--ocean-blue-alpha)), url("../images/everyone.jpg")
  @media(max-width: 1000px)
    background-image: linear-gradient(29deg, var(--darkish-purple-alpha), var(--something-alpha) 85%, var(--ocean-blue-alpha)), url("../images/everyone-1000.jpg")

.motive-002
  background-image: linear-gradient(29deg, var(--darkish-purple-alpha), var(--something-alpha) 85%, var(--ocean-blue-alpha)), url("../images/onesies.jpg")
  @media(max-width: 1000px)
    background-image: linear-gradient(29deg, var(--darkish-purple-alpha), var(--something-alpha) 85%, var(--ocean-blue-alpha)), url("../images/onesies-1000.jpg")

.motive-003
  background-image: linear-gradient(29deg, var(--darkish-purple-alpha), var(--something-alpha) 85%, var(--ocean-blue-alpha)), url("../images/stage.jpg")
  @media(max-width: 1000px)
    background-image: linear-gradient(29deg, var(--darkish-purple-alpha), var(--something-alpha) 85%, var(--ocean-blue-alpha)), url("../images/stage-1000.jpg")

.motive-004
  background-image: linear-gradient(29deg, var(--darkish-purple-alpha), var(--something-alpha) 85%, var(--ocean-blue-alpha)), url("../images/speakerstage.jpg")
  @media(max-width: 1000px)
    background-image: linear-gradient(29deg, var(--darkish-purple-alpha), var(--something-alpha) 85%, var(--ocean-blue-alpha)), url("../images/speakerstage-1000.jpg")

.motive-005
  background-image: linear-gradient(29deg, var(--darkish-purple-alpha), var(--something-alpha) 85%, var(--ocean-blue-alpha)), url("../images/attentivecrowd.jpg")
  @media(max-width: 1000px)
    background-image: linear-gradient(29deg, var(--darkish-purple-alpha), var(--something-alpha) 85%, var(--ocean-blue-alpha)), url("../images/attentivecrowd-1000.jpg")

.motive-006
  background-image: linear-gradient(29deg, var(--darkish-purple-alpha), var(--something-alpha) 85%, var(--ocean-blue-alpha)), url("../images/outside.jpg")
  @media(max-width: 1000px)
    background-image: linear-gradient(29deg, var(--darkish-purple-alpha), var(--something-alpha) 85%, var(--ocean-blue-alpha)), url("../images/outside-1000.jpg")
