.image-section
  h2.title-m.onimage This is your conference!
  
footer.section.footer
  a.footer-link(href="https://twitter.com/jsunconf" title="Follow us on twitter" target="_blank" rel="noreferrer noopener") Follow us on twitter
  a.footer-link(href="mailto:contact@jsunconf.eu" title="Contact & Feedback") Contact &amp; Feedback
  a.footer-link(href="/imprint/", title="Imprint") Imprint
  a.footer-link(href="/privacy-policy/", title="Privacy Policy / Data Protection Declaration") Privacy Policy / Data Protection Declaration
