.image-section
  .image-section-img(data-lazyload-class="is-active")
  .image-section-content
    h2.title-m.onimage This is your conference!

footer.section.footer
  a.footer-link(href="https://twitter.com/jsunconf" title="Follow us on twitter" target="_blank" rel="noreferrer noopener") Follow us on twitter
  a.footer-link(href="mailto:contact@jsunconf.eu" title="Contact & Feedback") Contact &amp; Feedback
  a.footer-link(href="/imprint/", title="Imprint") Imprint
  a.footer-link(href="/privacy-policy/", title="Privacy Policy / Data Protection Declaration") Privacy Policy / Data Protection Declaration

  p.newsletter-legal-note#newsletter-legal-note
    | #[sup *1]: By entering your email address and clicking the button below, you confirm that you are 16 years
    | or older. You agree that the JSUnconf (represented by BOOT e. V., Ritterstraße 3a, 22089 Hamburg)
    | will use the data and information provided by you in connection with the use of the newsletter
    | to regularly send you information about the JSUnconf by email. By submitting the form, you agree
    | that JSUnconf may process your information in accordance with these terms. You can change your
    | mind at any time by clicking the unsubscribe link in the footer of any email you receive from us,
    | or by contacting us at contact@jsunconf.eu. JSUnconf will treat your information with respect.
    | For further information, please see #[a(href="/privacy-policy/") our privacy policy] on our website.
