.image-section
  h2.title-m.onimage This is YOUR conference!

footer.section.footer
  a.footer-link(href="https://twitter.com/jsunconf" title="Follow us on twitter" target="_blank" rel="noreferrer noopener") Follow us on twitter
  a.footer-link(href="mailto:contact@jsunconf.eu" title="Contact & Feedback") Contact &amp; Feedback
  a.footer-link(href="/imprint/", title="Imprint") Imprint
