extends _layout

block header
  include index-partials/header

block main
  .image-section
    .image-section-img(role="img", aria-label="View on the beautiful Hamburg port area with Elphie in sight, from the Michel, an ancient churches bell tower.").hero-image
    .image-section-content
      a(href="/")
        img(alt="JSUnconf logo graphic. Purple shape with white JS UNCONF wordmark.",title="JSUnconf logo graphic. Purple shape with white wordmark.",src="/images/jsunconflogo.svg",width="100rem")
      h1.onimage.main-heading JSUnconf<br> 13. + 14.4.2019<br> Hamburg

  include index-partials/schedule
  include index-partials/newsletter-form
  include index-partials/description
  include index-partials/tickets
  include index-partials/diversity
  include index-partials/code-of-conduct
  include index-partials/location
  include index-partials/sponsoring
  include index-partials/motto
