extends _layout

block main
  h1.title JSUnconf <br> 13.+14.4.2019 <br> Hamburg

  include index-partials/header
  include index-partials/tickets
  include index-partials/contriboot
  include index-partials/diversity
  include index-partials/code-of-conduct
  include index-partials/location
  //- include index-partials/schedule
